<div class="dashboard-container">
  <h2 class="dashboard-title">Manager Dashboard</h2>
  <b><p class="dashboard-date">Today: {{ todayDate }}</p></b>

  <div class="card-grid">
    <!-- Manager Employees Card -->
    <div class="card">
      <h3>Manager Employees</h3>
      <p>{{ employeesCount }}</p>
    </div>

    <!-- Total Employees Card -->
    <div class="card">
      <h3>Total Employees</h3>
      <p>{{ totalEmployees }}</p>
    </div>

    <!-- Today Attendance Card -->
    <div class="card">
      <h3>Today Attendance</h3>
      <p>{{ todaysAttendance }}</p>
    </div>

    <!-- Departments Card -->
    <div class="card">
      <h3>Departments</h3>
      <p>{{ departmentsCount }}</p>
    </div>

    <!-- Payments Card -->
    <div class="card">
      <h3>Payments</h3>
      <p>{{ paymentsCount }}</p>
    </div>
  </div>
</div>
