<div class="container mt-6">
  <h4 class="mb-3">Rating</h4>
  <form [formGroup]="_frmGroup">
        <!-- {{_frmGroup.value | json}} -->

  <div class="mb-6 ">
    <label for="empId">Employee:</label>
    <select id="empId" name="empId" class="form-select" formControlName="employeeId">
  <option *ngFor="let emp of employee" [value]="emp.id">{{emp.id}}  :  {{ emp.nm }}</option>
    </select>
  </div>
<div class="mb-3">
    <label for="comments">Comments:</label>
    <textarea id="comments" name="comments" class="form-control" maxlength="150" formControlName="comments"></textarea>
  </div>
  <div class="row">
  <div class="mb-3 col-md-6">
    <label>Score:</label>
   <div class="star-rating">
  <ng-container *ngFor="let star of [5, 4, 3, 2, 1]">
    <input type="radio" [id]="'star' + star" name="score" [value]="star" formControlName="score" />
    <label [for]="'star' + star">&#9733;</label>
  </ng-container>
</div>

  </div>

  </div>
  <div class="text-center mt-md-2">
<button type="button" class="btn btn-primary" (click)="save()">Submit Rating</button>
  </div>
</form>
