
<div class="container mt-4">
  <div class="row g-4">
    <!-- Total Employees -->
    <div class="col-md-4">
      <div class="card bg-darker-gray h-100 text-white">
        <div class="card-body text-center">
          <h5 class="card-title">Total Employees</h5>
          <h2>{{ totalEmployees }}</h2>
        </div>
      </div>
    </div>

   

    <!-- Departments -->
    <div class="col-md-4">
      <div class="card bg-darker-gray h-100 text-white">
        <div class="card-body text-center">
          <h5 class="card-title">Departments</h5>
      <h2>{{ totalDepartments }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

  